body{
    background-color: ghostwhite;
    width: 800px;
    margin: auto;
}

h1{
    background-color:#000000;
    color: lightgoldenrodyellow;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
}

table {
    border: 2px solid darkblue;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 80%;
    text-align: center;
}

th {
    border-bottom: 1px solid darkblue;
    padding: 5px;
    background-color: blue;
    color: white;
}

td {
    border: 1px solid darkblue;
    border-bottom: 3px;
    padding: 5px;
    background-color: linen;
}

strong {
    font-style: italic;
    text-decoration: underline;
}

.titre {
    border-bottom: 2px solid RoyalBlue;
    margin: 10px;
    padding: 3px;
    font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight:bold;
    color:aliceblue;
}

.nb {
    text-align: right;
}

.ok {
    background-color: ghostwhite;
}

.ko {
    background-color: #ff6666;
}

/* Mise en style des tests */
.bon {
    background-color: limegreen;
    font-size: 1.1em;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.bad {
    background-color: red;
    color: blue;
    font-weight: bold;
}

.question {
    background-color:#ccccff;
    font-size: 0.9em;
    font-family:sans-serif;
}

p.question {
    font-size: 0.9em;
    font-weight: bold;
}

ul.question {
    font-size: 0.8em;
}

.validation {
    background-color:greenyellow;
    border: #fcc727 5px solid;
    padding: 5px;
    font-family:sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.imgAttendu{
    max-width: 45%; 
    height: auto;
    float: right;
    border: red solid thin;
}
