/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background-color: honeydew;
    max-width: 1024px;
    margin: auto;
}

header {
    padding: 5px;
    border-bottom: 10px solid green;
    background-color: yellowgreen;
    color: darkblue;
}

main {
/*    max-width: 900px;*/
    width: 86%;
    float: left;
    padding: 10px 5px 10px 5px;
    background-color: honeydew;
}

footer {
    padding: 5px;
    background-color: yellowgreen;
    color: darkblue;
}

nav {
    width: 120px;
    float: left;
    padding: 5px;
    background-color: yellowgreen;
    color: darkblue;
}
nav menu {
    padding: 0;
    list-style: none;
}

main article h1 {
    padding-left: 10px;
    font-size: 2em;
}

main header {
    border-bottom: 2px solid green;
    background-color: honeydew;
}

table {
    width: 80%;
    margin: auto;
    margin-top: 5px;
    border: 2px solid darkblue;
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: left;
}

footer table {
    width: 100%;
    border: none;
}

footer table td {
    border: none;
}


th {
    border-bottom: 1px solid darkblue;
    padding: 5px;
    background-color: blue;
    color: white;
}

td {
    border: 1px solid darkblue;
    border-bottom: 3px;
    padding: 5px;
}

p.todo {
    color: darkorange;
    font-size: 0.9em;
    font-weight: bold;
}
